.btn {
    border: 1px solid rgb(226, 226, 226);
    width: 200px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: .3em ;
    cursor: pointer;
}

.btn:disabled {
    cursor:not-allowed;
}